---
layout: default
---

<section class="hero">
  <div class="hero-inner">
    <p class="hero-lead">磐田ベースボールクラブ 体験会開催！</p>

    <p>2026年4月から活動を開始する新しい軟式野球クラブ　磐田ベースボールクラブです！<br>
       体験会を以下の日程で開催します。<br>
       2026年2月11日 13:00-15:00 磐田兎山公園野球場<br>
       2026年2月23日 13:00-15:00 磐田兎山公園野球場<br>
       体験参加をご希望の方、こちらからお申し込みください。<br>
    </p>

    <a
      href="https://forms.gle/pca34vjWQodBTL4F8"
      class="btn btn-primary"
      target="_blank"
      rel="noopener">
      体験会参加を申し込む
    </a>
    <p class="hero-note">
      ※申込後、詳細の連絡はメールにてご案内します。
    </p>
  </div>
</section>

<section class="section">
  <h2>ニュース</h2>
  <ul class="news-list">
    {% for post in site.posts limit:3 %}
      <li>
        <span class="date">{{ post.date | date: "%Y.%m.%d" }}</span>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <p class="more-link"><a href="{{ site.baseurl }}/news/">ニュース一覧へ</a></p>
</section>

<section id="schedule" class="section section-calendar">
  <h2>今月の予定</h2>
  <div class="calendar-wrapper">
    <iframe
    src="https://calendar.google.com/calendar/embed?ctz=Asia%2FTokyo&mode=MONTH&showTitle=0&showTabs=0&showCalendars=0&src=iwatabc26@gmail.com&src=ca4a727ae41fdda81249e6a85b5282a0c4588e8e9fd56cce1a4293b442f860bd@group.calendar.google.com"
    frameborder="0"
    scrolling="no">
    </iframe>
  </div>
</section>

<section id="faq" class="section">
  <h2>よくある質問</h2>
  <ul class="simple-list">
    <li><strong>Q.</strong> どんな人が対象になりますか？ <BR><strong>A.</strong> 2026年４月から随時活動をしていきます。まずは、中学１・２年生を対象に募集します。野球の経験や男女の別などは一切関係ありません。それぞれの状況に応じて指導していきますので安心して参加してください。今後は、小学生から中学生や中学生から高校生への橋渡しの活動に広げていきます。</li>
    <li><strong>Q.</strong> 体験入会やスポカルとの重複登録は可能ですか？<BR><strong>A.</strong> まずは見学や体験をしていただきたいと思います。説明会や体験会の実施については、InstagramやHPで告知します。また、スポカルとの重複登録は可能です。活動日が重なる場合には、ご家庭で判断してください。</li>
    <li><strong>Q.</strong> 試合や大会への参加はどうなりますか？<BR><strong>A.</strong> 今のところ、中体連の地区大会には出場できません。県大会のクラブ枠を競う大会へは出場可能です。また、野球連盟主催の大会やクラブ選手権等への出場は可能です。その他、他の軟式野球クラブや中学校との練習試合は計画していきます。立ち上げに多くの子どもたちが参加してくれれば活動の幅が広がると思います。</li>
    <li><strong>Q.</strong> 活動は、どのぐらいの頻度で行いますか？<BR><strong>A.</strong> 平日３日（２時間程度）、休日２日（３時間程度）の活動となります。<BR>
本クラブは、野球の技術だけでなく、主体性、協調性・社会性、自己管理力・自制心、思考力・判断力・表現力、課題解決力・創造性、意欲・向上心等を養い、人としての成長（人間力の育成）を目的としております。活動日には、特別な事情がない場合は、活動に参加するようお願いいたします。体力的にも、精神的にも大きく成長できる機会であることをご理解いただければと思います。</li>
    <li><strong>Q.</strong> 活動は、どこで行いますか？<BR><strong>A.</strong> 拠点のなるグランド所有していないため、磐田市内のグラウンドや野球場で行います。できるだけ子どもたちが自力で来られると良いと考えています。平日は、市内中学校グラウンド、磐南浄化槽Gなど、休日は、兎山・豊田野球場、市内中学校グラウンド、市内高校グラウンドなどで活動する予定です。</li>
    <li><strong>Q.</strong> 自転車で通っても良いですか？<BR><strong>A.</strong> 学校と違い校区はありませんので、自転車で通っていただいて構いません。ただし、くれぐれも交通安全に気を付けてください。</li>
    <li><strong>Q.</strong> どんな指導者の皆さんですか？<BR><strong>A.</strong> 高校野球監督経験者、高校・大学・社会人でのプレー経験者で編成しています。教員免許保有者も多数おり、専門性の高い指導を受けられます。何よりも全員が、磐田南高校OBですので野球と学習の両立を図る指導もしていきます。また、定期的な指導者研修を実施することで子どもたちにとって個別最適な指導の実現をおこないます。</li>
    <li><strong>Q.</strong> 他のクラブとの違いはありますか？<BR><strong>A.</strong> 部活動が持つ教育的効果を土台にして、子どもたちの健全育成を目的にしています。そのため、勝利至上主義ではありませんが、真剣に勝利を目指す中で成長する育成主義で指導します。明確な目標設定、目標達成に向けた取り組みなど、日ごろからチームとして努力することを大切にしていきます。</li>
    <li><strong>Q.</strong> 野球用具の準備は必要ですか？<BR><strong>A.</strong> 野球用具につきましては、練習着・グローブ・スパイクを用意してください。<BR>
その他のボール、バット、捕手道具（キャッチャーミットは除く）などは、クラブでご用意いたします。なお、個人で道具を用意して練習ならびに試合等で使用していただくことも可能です。購入されるかは、各ご家庭の判断にお任せいたします。バットにつきましては、金属、複合バットのどちらを選ぶのかも、各ご家庭の判断にお任せいたします。<BR>
※JSBBマークが必ずある物をお選びください。</li>
    <li><strong>Q.</strong> 月謝はいくらかかりますか？<BR><strong>A.</strong> 月１３，０００円を徴収させていただきます。本クラブは、現在は民間組織のため受益者負担で運営します。会費は指導者への謝礼金、道具や会場の確保費用等維持運営費などクラブの運営資金です。今後、一般社団法人取得を目指し、行政支援や企業協賛金の獲得により、負担権限（徴収額減少）を目指しています。</li>
    <li><strong>Q.</strong> 学習面や進路面の心配をしております。<BR><strong>A.</strong> 定期テスト１週間前は活動しないなど学校の教育活動を主体にクラブの活動計画を立てていきます。また、クラブとしても学習面や進路面でのサポートもおこなってまいります。</li>
    <li><strong>Q.</strong> 保護者が行うべきことはありますか？<BR><strong>A.</strong> 保護者の負担軽減も考え、保護者会組織は作らない予定です。子どもたちの送迎のみご協力ください。</li>
  </ul>
</section>
